<script src="/static/swagger-ui-bundle.js"></script>
<script src="/static/swagger-ui-standalone-preset.js"></script>
<script src="/static/lib/jquery.min.js" type='text/javascript'></script>

  <!-- To customize the script that loads swagger, override templates/flasgger/swagger.html -->
  <script>
window.onload = function() {

    

    // Build a system
    const ui = SwaggerUIBundle(
    Object.assign(
    {

    
    url: "http://localhost:8000/apispec_1.json",
    
    dom_id: '#swagger-ui',
    validatorUrl: null,
    displayOperationId: true,
    deepLinking: true,
    jsonEditor: true,
    
    apisSorter: "alpha",
    presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
    ],
    plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
    ],
    
    layout: "StandaloneLayout",
    
    },
    {}
    
    )
    
    )

    let auth_config = None;

    ui.initOAuth(auth_config);

    window.ui = ui

    $(".topbar-wrapper .link span").replaceWith("<span>Flasgger</span>");
}
</script>
